{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerum Engenharia</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
</head>

<body>
    <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/media/logo/nerum.jpeg" class="logo-img me-2" alt="Logo Nerum">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link nav-link-custom">Início</a>
                </li>
                <li class="nav-item">
                    <a href="/#projetos" class="nav-link nav-link-custom">Projetos</a>
                </li>
                <li class="nav-item">
                    <a href="/#sobre" class="nav-link nav-link-custom">Sobre Mim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



    <!-- CONTEÚDO -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="text-center py-4 mt-5 bg-light border-top">
        <p class="m-0">© 2025 Nerum Engenharia — Todos os direitos reservados</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
